[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-ckeditor = "*"
flask-migrate = "*"
markdown = "*"
bleach = "*"
flask-wtf = "*"
flask-moment = "*"
bootstrap-flask = "*"
flask-pagedown = "*"
pygments = "*"
flask-sslify = "*"
pymysql = "*"

[requires]
python_version = "3.6"
