body {
    background-color:#f4f5f5
}

.container {
    background-color:#fff;
    padding-right: 0px;
    padding-left: 0px;
}

.navbar {
    padding: 0 1rem;
}

.breadcrumb {
    padding: 0rem 0.75rem;
    margin-bottom: 0rem;
}

.container-fluid {
    background-color: #f4f5f5;
}

.dividing_line {
    background-color: #f4f5f5;
    height: 15px;
}

.page-attr {
    background-color: #fff;
    height: 1000px;
}
.per-post-attr {
    
}

.col-md-9 {
    padding-left: 0px;
    padding-right: 0px;
}

.col-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.login-form {
    width: 60%;
}