<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{url_for('static', filename='iconfont.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {% endblock %}

    <title>{% block title %}CodePool{% endblock title %}</title>
    {% endblock %}
  </head>
  <body>
    <!-- Your navbar -->
    <div class="container">
      {% block top_content %}{% endblock top_content %}
      {% block navbar %}
      <nav class="navbar sticky-top navbar-expand navbar-light justify-content-between border pr-0" style="background-color: #fff;">
          <a class="navbar-brand" href="{{ url_for('main.index')}}">CodePool</a>
          <div class="navbar-nav nav-pills">
            <a class="nav-item nav-link font-weight-bold" href="{{ url_for('main.index')}}">主页</a>
            <a class="nav-item nav-link font-weight-bold" href="{{ url_for('main.about')}}">关于</a>
          </div>
      </nav>
      {% if current_user.is_authenticated %}
      <nav aria-label="breadcrumb" style="top:2.6rem; position: sticky; z-index: 1020">
          <ol class="breadcrumb .bg-secondary">
              <li class="breadcrumb-item"><a href="{{url_for('main.new_post')}}">发布</a></li>
              <li class="breadcrumb-item"><a href="{{url_for('main.manage_post')}}">文章管理</a></li>
              <li class="breadcrumb-item"><a href="{{ url_for('main.manage_category')}}">分类管理</a></li>
              <li class="breadcrumb-item"><a href="{{ url_for('main.logout')}}">注销</a></li>
          </ol>
      </nav>
      {% endif %}
      {% endblock navbar %}
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
          <strong>{{ message }}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      {% endfor %}

      {% block page_content %}{% endblock page_content %}


      {% block scripts %}
      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }}
      {{ moment.include_moment() }}
      {{ moment.lang("zh-cn") }}
      <script>
        window.setTimeout(function(){
            $('[data-dismiss="alert"]').alert('close');
        },3000);
      </script>
      {% endblock %}
    </div>
  </body>
</html>