<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{url_for('static', filename='iconfont.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
    {% endblock %}

    <title>{% block title %}Welcome to CodePool{% endblock title %}</title>
    {% endblock %}
  </head>
  <body>
    <!-- Your navbar -->
    <div class="container">
      {% block top_content %}{% endblock top_content %}
      {% block navbar %}
      <nav class="navbar sticky-top navbar-expand navbar-light justify-content-between border pr-0" style="background-color: #fff;">
          <a class="navbar-brand" href="{{ url_for('main.index')}}">CodePool</a>
          <div class="navbar-nav nav-pills">
            <a class="nav-item nav-link" href="{{ url_for('main.index')}}">Home</a>
            <a class="nav-item nav-link active" href="#">Features</a>
          </div>
      </nav>
      {% if current_user.is_authenticated %}
      <nav aria-label="breadcrumb" style="top:2.6rem; position: sticky; z-index: 1020">
          <ol class="breadcrumb .bg-secondary">
              <li class="breadcrumb-item"><a href="{{url_for('main.new_post')}}">New</a></li>
              <li class="breadcrumb-item active" aria-current="page">Library</li>
              <li class="breadcrumb-item"><a href="{{ url_for('main.manage_category')}}">manage category</a></li>
              <li class="breadcrumb-item"><a href="{{ url_for('main.logout')}}">Logout</a></li>
          </ol>
      </nav>
      {% endif %}
      {% endblock navbar %}

      {% block page_content %}{% endblock page_content %}


      {% block scripts %}
      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }}
      {{ moment.include_moment() }}
      {{ moment.lang("zh-cn") }}
      {% endblock %}
    </div>
  </body>
</html>