{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block title %}CodePool - Home{% endblock %}
{% block top_content %}
<div class="d-flex py-2 px-2">
    <img src="{{ url_for('static', filename='images/author.jpg')}}" alt="author" class="img-thumbnail" style="width:80px; height:80px;">
    <div style="width:auto; height:80px;">
        <p class="font-weight-bold px-2 mb-0" style="font-size: 1.5rem;">Lovekernel</p>
        <p class="text-muted mb-0 px-2" style="font-size: 0.8rem;">好好学习，天天向上。</p>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb px-2" style="background-color: #fff; font-size: 0.9rem;">
                <li class="breadcrumb-item text-muted"><a style="color: black" href="{{#}}">微博</a></li>
                <li class="breadcrumb-item" aria-current="page"><a style="color: black" href="#">微信</a></li>
                <li class="breadcrumb-item"><a style="color: black" href="#">github</a></li>
            </ol>
        </nav>
    </div>
</div>
{% endblock top_content %}
{% block page_content %}
<div class="dividing_line"></div>
<div class="container-fluid index-attr">
    <div class="row"> 
        <div class="col-12 col-md-9 page-attr">
        {% block main_container %}
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% include '_posts.html' %}
            <div class="my-4">
            {{ render_pagination(pagination, align='center') }}
            </div>
        {% endblock main_container %}
        </div>        
        <div class="col-md-3 pr-0 pl-0 pl-md-3 pt-2 pt-md-0">
            <div class="d-flex flex-column">
            {% block sidebar_container %}
                {% include '_sidebar.html' %}
                <div class="dividing_line"></div>
                {% include '_sidebar_tag.html' %}
            {% endblock sidebar_container %}
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}