{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% block page_content %}
<div class="dividing_line"></div>
<div class="container-fluid index-attr">
    <ul class="list-group list-group-flush">
        {% for post in posts %}
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <span>{{ post.title }}</span>
            <span>
              <a href="{{ url_for('main.delete_post', id=post.id)}}">delete</a>
            </span>
            <span>
              <a href="{{ url_for('main.edit_post', id=post.id)}}">edit</a>
            </span>
          </div>
        </li>
        {% endfor %}
      </ul>
</div>
{% endblock page_content %}