{% extends "index.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% block main_container %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
<div class="bd-example bd-example-tabs p-2">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
        <a class="nav-link active" id="add_category-tab" data-toggle="tab" href="#add_category" role="tab" aria-controls="add_category" aria-selected="true">add category</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" id="rename_category-tab" data-toggle="tab" href="#rename_category" role="tab" aria-controls="rename_category" aria-selected="false">rename category</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" id="delete_category-tab" data-toggle="tab" href="#delete_category" role="tab" aria-controls="delete_category" aria-selected="false">delete category</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="add_category" role="tabpanel" aria-labelledby="add_category-tab">
            {% include 'add_category.html' %}
        </div>
        <div class="tab-pane fade" id="rename_category" role="tabpanel" aria-labelledby="rename_category-tab">
            {% include 'rename_category.html' %}
        </div>
        <div class="tab-pane fade" id="delete_category" role="tabpanel" aria-labelledby="delete_category-tab">
            {% include 'delete_category.html' %}
        </div>
    </div>
</div>
{% endblock main_container %}