{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% block page_content %}
<div class="container-fluid">
    {{ render_form(form=form, enctype='multipart/form-data', extra_classes='p-3') }}
</div>
{% endblock page_content %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<script>
    $('#flask-pagedown-body').on('click',function() {
        $('#flask-pagedown-body-preview').addClass('border border-success p-2 my-2');
    });
</script>
{% endblock scripts%}