{% extends 'base.html' %}
{% block page_content%}
<div class="dividing_line"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-9 per-post-attr">
            <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
                <h2 class="bd-title">{{ post.title }}</h2>
                {{ post.body | safe}}   
            </main>
        </div>
        <div class="col-md-3">.col-6 .col-md-4</div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{{ ckeditor.load() }}
{% endblock scripts%}